*{
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.reg-form{
	background: white; 
	height: 90%;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(51, 66, 255);
	margin-left: 25%;
	margin-top: 5%;
	display: block;
	position: relative;
}
.reg-form h3{
	color: rgb(51, 66, 255);
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
}
.message{
	margin: 10px;
	width: 90%;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	background: red;
	color: white;
	font-weight: bolder;
	font-size: 20px;

}
.reg-form input{
	display: block;
	margin: 15px;
	width: 90%;
	padding: 13px;
	font-family: cursive;
	border: hidden;
	background: #efefef;
	border-radius: 5px;
	color: black;
	font-weight: bolder;

}
.reg-form select{
	width: 95%;
	color: gray;
	font-family: cursive;
	padding: 13px;
	margin: 15px;
	border-radius: 5px;
	background: #efefef;
	border: none;

}
.reg-form button{
	background: rgb(51, 66, 255);
	width: 50%;
	margin-left: 25%;
	padding: 13px;
	border-radius: 6px;
	border: hidden;
	color: white;
	font-family: cursive;
	font-size: 15px;
	cursor: pointer;
}
@media screen and (max-width: 670px){
	.reg-form{
		width: 80%;
		height: 100%;
		margin-top: 10%;
		margin-left: 10%;
		padding-bottom: 10px;
	}
	.reg-form input{
		width: 85%;
		font-size: 28px;
	}
	.reg-form select{
		width: 90%;
		font-size: 1.7rem;
		font-weight: bolder;
	}
	.reg-form button{
		font-size: 25px;
	}
	.reg-form button:hover{
		background-color: darkblue;
	}
	.message{
		font-size: 1.7rem;
		width: 88%;
	}
}






/*--Login Page--*/



.log-form{
	background: white; 
	height: 70%;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(51, 66, 255);
	margin-left: 25%;
	margin-top: 5%;
	display: block;
	position: relative;
}
.log-form h3{
	color: rgb(51, 66, 255);
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
}
.log-form input{
	display: block;
	margin: 15px;
	width: 90%;
	padding: 13px;
	font-family: cursive;
	border: hidden;
	background: #efefef;
	border-radius: 5px;

}
.log-form button{
	background: rgb(51, 66, 255);
	width: 50%;
	margin-left: 25%;
	padding: 13px;
	border-radius: 6px;
	border: hidden;
	color: white;
	font-family: cursive;
	font-size: 15px;
	cursor: pointer;
}

@media screen and (max-width: 670px){
	.log-form{
		width: 80%;
		height: 100%;
		margin-top: 25%;
		margin-left: 10%;
		padding-bottom: 10px;
	}
	.log-form input{
		width: 85%;
		font-size: 28px;
	}
	.log-form button{
		font-size: 25px;
	}
	.log-form button:hover{
		background-color: darkblue;
	}
}




/*--profiile---*/


.profile{
	background: white; 
	height: 80%;
	padding-bottom: 10px;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(51, 66, 255);
	margin-left: 25%;
	margin-top: 5%;
	display: block;
	position: relative;
	align-items: center;
	text-align: center;

}
.profile img{
	width: 30%;
	border-radius: 50%;
	margin-top: 20px;
	border: solid 1px;
	height: 35%;
}
.profile h3{
	color: black;
	margin-top: 20px;
	font-size: 20px;
	font-family: tahoma;
}
.profile .text{
	text-decoration: none;
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 14px;
	font-size: 20px;
	margin: auto;
	margin-top: 20px;

}

.profile a{
	text-decoration: none;
	display: block;
	padding: 14px;
	font-size: 20px;
	margin-top: 10px;
	width: 100%;
	color: white;
	margin: auto;
	margin-top: 10px;

}
@media screen and (max-width: 670px){
	.profile{
		width: 80%;
		height: 100%;
		margin-top: 20%;
		margin-left: 10%;
	}
	.profile img{
		width: 100px;
		height: 100px;
		box-shadow: none;
		border: solid 2px;
	}
	.profile h3{
		font-size: 1.2rem;
	}
	.profile p{
		font-size: 1.1rem;
		font-family: monospace;
	}
	.profile .text{
		width: 88%;
		font-size: 1.2rem;
		color: white;
		margin: auto;
		margin-top: 20px;
		font-weight: bolder;
		padding: 5px;
		border-radius: 5px;
	}
	.profile a{
		width: 88%;
		font-size: 1.2rem;
		color: white;
		margin: auto;
		margin-top: 10px;
		font-weight: bolder;
		padding: 5px;
		border-radius: 5px;
	}
	.profile .text:hover{
		text-decoration: none;
		color: white;
	}
	.profile a:hover{
		text-decoration: none;
		color: white;
	}
}




/*--Home page--*/

#header{
	background: white;
	box-shadow: 0 0 30px rgb(51, 66, 255);
	padding: 15px;
	display: block;
}
#header img{
	display: inline;
	width: 50px;
	height: 50px;
}
.text-h{
	margin-left: 6%;
	margin-top: -55px;

}

.text-h h2{
	font-size: 20px;
	font-family: tahoma;
	margin-bottom: 1px;
	color: rgb(51, 66, 255);
	margin-top: 7px;
}
.text-h p{
	color: black;
	font-size: 15px;
}
@media screen and (max-width: 670px){
	#header{
		width: 100% auto;
		display: flex;
	}
	#header img{
		width: 50px;
		height: 50px;
		margin-top: 25px;
	}
	.text-h{
		margin-top: 20px;

	}

	.text-h h2{
		font-size: 20px;

	}
	.text-h p{
		color: black;
		font-size: 15px;
	}

}

/*--menu page--*/
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: blue;
    z-index: 2;
    transition: 0.5s;
}

ul li{
	list-style: none;
	margin: 30px 20px;

}
ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 1.3rem;

}
#menubtn{
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menubtn img{
    width: 80px;
    height: 80px;
    margin-top: -2x;
}
.schname{
	float: left;
	margin-left: -700px;
	margin-top: 80px; 
	color: #fff;
}


/*---Header---*/

@media screen and (max-width: 670px){



	nav img{
    	width: 150px;
    	margin-left: -10px;
	}
	#menubtn img{
     	margin-left: -10px;
     	margin-top: 20px;

	}
	#sidenav{
    	height: 120vh;
    	width: 50%;
	}

	nav{

    	width: 78%;

	}
	ul li a{
		font-size: 1.2rem;
		font-family: tahoma;
	}
	#menubtn{
		
	}

	#menubtn img{
		width: 90px;
		height: 100px;
		margin-top: -5px;
		margin-left: -6px;
		
		
	}



}




.bg-img{
	background-image: linear-gradient(rgba(9, 5, 54, 0.7), rgba(5, 4, 46, 0.7)), url("images/bgs.png");
	background-size: cover;
	width: 100% auto;
	height: 100vh;
	text-align: center;
	justify-content: center;
	margin-top: 2px;
}
.head-top{
	background: rgb(9, 5, 54);
	width: 100% auto;
	padding: 30px;
}
.head-top .p{
	font-size: 30px;
	float: left;
	margin-top: -15px;
}
.head-top .ab{
	background: none;
	float: right;
	margin-top: -13px;
	
}
.head-top .ab:hover{
	background: none;
}
.head-top .ab img{
	width: 30px; 
	height: 30px;
	margin-top: 8px;
}
.bg-img h3{
	font-size: 30px;
	padding-top: 20%;
	font-family: tahoma;
	color: white;
}
.bg-img p{
	font-size: 20px;
	position: relative;
	font-family: monospace;
	margin-bottom: 20px;
	color: white;


}
.bg-img a{
	text-decoration: none;
	border: transparent;
	border-radius: 3px;
	background: rgb(224, 224, 61);
	color: white;
	margin: 10px;
	padding: 10px;
	color: rgb(51, 66, 255);



}
.bg-img a:hover{
	background: rgb(187, 197, 1);
}
@media screen and (max-width: 670px){

	.bg-img{

		height: 130vh;
		flex-basis: 100%;
	}
	.head-top .p{
		font-size: 22px;
		margin-top: 0px;
	}
	.head-top .ab{
		margin-top: -18px;
	}
	.head-top .ab img{

	}
	.bg-img h3{
		font-size: 2rem;
		color: rgb(189, 185, 200);
	}
	.bg-img p{

		font-size: 1.5rem;
		color: white;
	}
	.bg-img a{
		font-weight: bolder;
		font-size: 20px;
		display: block;
	}
}



/*--School notice--*/
.school-notice{


}
.notice{
	background: white;
	text-align: center;
	margin-top: 50px;
	box-shadow: 0 0 20px rgb(51, 66, 255);
	padding: 20px;
}
.notice h4{
	font-family: tahoma;
	font-size: 20px;
	position: relative;
	z-index: 1;
	display: inline-block;
	color: rgb(51, 66, 255);
	margin-top: 10px;


}
.notice h4::after{
	background: linear-gradient(rgb(51, 66, 255), #fff);
	background-size: cover;
	width: 50px;
	height: 35px;
	content: '';
	position: absolute;
	z-index: -1;
	top: -20px;
	left: 0;
	transform: rotate(10deg);


}
.notice p{
	font-size: 20px;
	font-family: monospace;
}
.notice-link{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
.notice-text{
	flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.7px blue;
    cursor: pointer; 
    transition: transform .5s;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.notice-text img{
	width: 100px;
	height: 100px;
	margin-top: 20px;
}
.notice-text p{
	font-size: 25px;
	font-weight: bolder;
	margin-top: 10px;

}
.notice-text h5{
	font-weight: bolder;
	font-size: 25px;
	margin-top: 10px;


}

@media screen and (max-width: 670px){
	.notice{
		width: 100% auto;
	}
	.notice h4{

		font-size: 1.3rem;

	}
	.notice h4::after{
		border-top-left-radius: 40px;

	}
	.notice p{
		font-size: 1.5rem;
	
	}
	.notice-text{
		flex-basis: 100%;
		margin-top: 20px;
	}
}



/*---school gallery---*/
.gallery{
	background: white;
	text-align: center;
	margin-top: 50px;
	box-shadow: 0 0 20px rgb(51, 66, 255);
	padding: 20px;
}
.gallery h4{
	font-family: tahoma;
	font-size: 20px;
	position: relative;
	z-index: 1;
	display: inline-block;
	color: rgb(51, 66, 255);
	margin-top: 10px;


}
.gallery h4::after{
	background: linear-gradient(rgb(51, 66, 255), #fff);
	background-size: cover;
	width: 50px;
	height: 35px;
	content: '';
	position: absolute;
	z-index: -1;
	top: -20px;
	left: 0;
	transform: rotate(10deg);


}
.gallery p{
	font-size: 20px;
	font-family: monospace;
}
.list-item{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.gallery-img{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px  blue;
    cursor: pointer; 
    margin: 20px;
    width: 100%;
    transition: transform .5s;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.gallery-img img{
	width: 200px;
	height: 200px;
	margin-top: 20px;
}
.gallery-img p{
	font-size: 25px;
	font-weight: bolder;
	margin-top: 10px;
	text-align: left;
	margin-left: 15px;

}
.gallery-img h5{
	font-weight: bolder;
	font-size: 25px;
	margin-top: 10px;
	text-align: left;
	margin-left: 15px;



}
.button-bg{
	float: left;
	width: 100%;
	height: 0;
	margin-top: 0%;
	margin-right: 15%;
	text-align: center;
	justify-content: center;;
	align-items: center;
}
.button-bg a{
	text-decoration: none;
	font-weight: bolder;
	background: rgb(224, 224, 61);
	color: blue;
	font-size: 20px;
	font-weight: bolder;
	padding: 10px;
	border-radius: 3px;
	border: transparent;
	margin-top: -18%;
	margin-right: 15px;
}
.button-bg a:hover{
	background: rgb(187, 197, 1);
}

@media screen and (max-width: 670px){
	.gallery{
		width: 100% auto;
	}
	.gallery h4{

		font-size: 1.3rem;

	}
	.gallery h4::after{
		border-top-left-radius: 40px;

	}
	.gallery p{
		font-size: 1.9rem;

	
	}
	.gallery-img img{
		width: 170px;
		height: 200px;
	}
	.gallery-img p{
		font-size: 1.2rem;
	}
	.gallery-img h5{
		font-size: 1.2rem;
	}
	.gallery-img{
		flex-basis: 100%;
		margin-top: 20px;
		width: 85%;
	}
	.button-bg{
		margin-top: 1%;
		margin-right: 1%;
	}
	.button-bg a{
		font-size: 1.5rem;
		font-family: tahoma;
		
	}
}







/*--about School--*/

.history{
	width: 100% auto;
	height: 100vh;
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;

}
.container-his{
	width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;


}
.his{
	flex-basis: 70%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px  blue;
    cursor: pointer; 
    margin: 20px;
    width: 100%;
    transition: transform .5s;
    justify-content: center;
    text-align: center;
    align-items: center;


}
.his img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 20px;
}
.his p{
	margin: 20px;
	font-size: 20px;
	margin-top: -20px;
	flex-basis: space-between;

}
.his h5{
	margin: 20px;
	font-size: 20px;
	font-weight: bolder;
	font-style: normal;
	text-decoration: none;
	color: rgb(51, 66, 255);
	

}

.his h6{
	margin: 20px;
	font-weight: normal;
	font-size: 20px;
	flex-direction: space-between;
	font-family: tahoma;
	font-variant-caps: all-petite-caps;
	font-language-override: normal;
	text-shadow: 0 0 2px blue;
	text-align: left;
	text-align-last: normal;

}
@media screen and (max-width: 670px){
	.his{
		flex-basis: 100%;
	}
	.his img{
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}
	.his p{
		font-size: 1.2rem;
		font-weight: bolder;
		font-family: sans-serif;
	}
	.his h5{
		font-size: 1.3rem;
		font-style: normal;
	}
	.his h6{
		font-size: 1.1rem;
		font-weight: normal;
		text-shadow: none;
	}
}


/*--footer--*/


#footer{
	background: #fff;
	box-shadow: 0 0 3px;
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-top: 50px;
	align-content: center;
	align-items: center;
	text-align: center;
}
#footer .logo-img{
	width: 200px;
	height: 200px;
	margin-top: 40px;
}
.link{
	display: block;
	margin: 30px;
	float: left;

}
.link p{
	text-decoration: none;
	display: block;
	margin: 5px;
	padding-top: 10px;
	font-weight: bolder;
	color: blue;
	text-shadow: 0 0 5px yellow;
	font-size: 23px;
	text-align: left;



}
.link .lstaff{
	background: rgb(224, 224, 61);
	padding: 7px;
	font-family: cursive;
	border-radius: 15px 15px 0 0;
	border-top: solid 5px blue;
	font-weight: bolder;
} 
.link-right{
	float: right;
	display: block;
	margin: 30px;
}
.link-right p{
	text-decoration: none;
	display: block;
	margin: 5px;
	padding-top: 10px;
	font-weight: bolder;
	color: blue;
	font-size: 23px;
	text-align: left;
	text-shadow: 0 0 5px yellow;


}

.link-right .Sstaff{
	background: rgb(224, 224, 61);
	padding: 7px;
	font-family: cursive;
	font-weight: bolder;
	border-radius: 15px 15px 0 0;
	border-top: solid 5px blue;
} 
#footer footer{
	margin-top: 20px;
	color: blue;
	font-weight: bolder;
	font-size: 20px;
}
@media screen and (max-width: 670px){
	#footer{
		flex-basis: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	#footer .logo-img{
		display: none;
		

	}
	.link{
		
		margin-top: 0%;
		margin: 0;
	
	}
	.link .lstaff{
		font-size: 20px;
	}



	.link-right{
		margin-top: 0%;
		margin: 0;
	
	}
	.link-right a{
		font-size: 20px;
	}
}


.ft{
	text-align: center;
	background: blue;
	color: white;
	width: 100% auto;
}
.ft footer{
	font-size: 1.3rem;
	font-family: cursive;
	text-shadow: 0 0 2px silver;
}




/*--school admin--*/


.admin{
	background: white;
	box-shadow: 0 0 5px rgb(55, 66, 244);
	padding: 20px;
	width: 100% auto;


}
.admin h2{
	font-size: 35px;
	color: rgb(55, 66, 244);
	font-weight: bolder;
	font-family: tahoma;


}
.main{
	background: #fff;
	box-shadow: 0 0 25px blue;
	padding: 25px;
}
.main p{
	font-size: 20px;
	font-weight: bolder;
	font-family: tahoma;
	color: blue;
}
.list-table{
	display: block;
	width: 100% auto;
	background-image: linear-gradient(rgba(0,0,255, 0.2), rgba(0,0,255, 0.2)), url("images/bgs.png");
	height: 100vh;
	background-size: cover;
	text-align: center;

}
.basiss{
	display: flex;
	width: 80%;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
}
.bg-light{
	background: linear-gradient(rgba(255,255,255, 0.2), rgba(255,255,255, 0.2));
	flex-basis: 100%;
	height: 50vh;
	margin-top: 13%;
	text-align: center;
	display: block;

}
.bg-light h2{
	color: white;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 1.4rem;
	margin-top: 30px;
}
.a{
	display: flex;
	width: 80%;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
}
.b{
	background: linear-gradient(rgba(255,255,255, 0.2), rgba(255,255,255, 0.2));
	flex-basis: 22%;
	height: 20vh;
	margin-top: 7%;
	text-align: center;
	display: block;

}

.b a{
	text-decoration: none;
	display: block;
	color: white;
	font-size: 1.2rem;
	font-weight: bolder;
	font-family: tahoma;
	margin-top: 30px;
}
.b:hover{
	background: linear-gradient(rgba(255,255,255, 0.4), rgba(255,255,255, 0.4));
}
.b a:hover{
	color: blue;
}


.list-table p{
	margin-top: ;
	color: white;
	font-weight: bolder;
	font-family: tahoma;
	font-size: 50px;
}
.list-table hr{
	margin-top: 11px;

}
.table{
	border: solid blue 4px;
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	font-size: 30px;
	
}
.table tr{

}
.table th{
	
	font-size: 30px;
	font-family: tahoma;
	background: gray;

}
.table .td{
	
	font-size: 20px;
	background: lightgray;

}
.table .td a{
	text-decoration: none;
	margin-left: 10px;
	background: blue;
	color: white;
	padding: 0px;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;

}
.table .tg{
	
	font-size: 20px;
	background: rgb(228, 228, 228);

}

/*---First Page---*/

#first-page{
	
	background: rgb(255, 255, 72);
	background-image: linear-gradient(rgba(9, 5, 54, 0.7), rgba(5, 4, 46, 0.7)), url('images/bgs.png');
	background-size: cover;

	
}
.first-page{
	width: 100%;
	display: flex;
	flex-basis: 100%;
	text-align: center;
	justify-content: center;
	margin-top: 6rem;

}
.first-page img{
	height: 15%;
	width: 15%;
	border-radius: 50%;
	
}
.first-p{
	margin-top: 2%;
	display: flex;
	text-align: center;
	justify-content: center;
}
.first-p p{
	color: white;
	text-align: center;
	font-size: 3rem;
	font-family: arial;
	text-shadow: 0 0 15px blue;
}
@media screen and (max-width: 670px){
	#first-page{
		flex-basis: 100%;
		background-size: cover;
		height: 85vh;
	}
	.first-page{
		flex-basis: 50%;
		margin-top: 35%;
	}
	.first-page img{
		width: 35%;
		height: 35%;
	}
	.first-p p{
		font-size: 3.1rem;
	}
}



/*--Anouncement--*/

#anouncement{
	width: 100% auto;
	height: 100px;
	background: blue;
	text-align: center;
}
#anouncement h3{
	color: white;
	padding-top: 30px;
	font-size: 2rem;
	font-family: tahoma;
}
.anouncement-body{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.body{
	flex-basis: 80%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.7px blue;
    cursor: pointer; 
    transition: transform .5s;
 	display: inline;
    text-align: center;
    

}
.body-tx{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.body-tx p{
    font-size: 24px;
    margin-left: -10px;
    margin-top: -20px;
}
.body-tx img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;


}
.date{
	text-align: left;
	height: 50px;
}
.date h6{
	font-size: 1.2rem;
	font-weight: normal;
	margin-left: 70px;
	margin-top: -35px;


}
.content{
	text-align: left;
	margin-left: 0px;
}
.content p{
	text-shadow: 0 0 2px blue;
	font-size: 1.1rem;
}

@media screen and (max-width: 670px){
	#anouncement{
		width: 100% auto;
	}
	#anouncement h3{

		font-size: 1.5rem;

	}
	.body-tx p{
		font-size: 1.2rem;
		font-family: sans-serif;
		margin-top: 2px;


	}
	.date h6{
		font-size: 1.3rem;
		font-weight: normal;
	
	}
	.body{
		flex-basis: 100%;
		margin-top: 20px;
	}
	.content p{
		font-size: 1.2rem;
		text-shadow: none;
	}
}



/*--contact us--*/


.main5{	
	width: 100% auto;
	height: 100vh;
	background-size: cover;

}
.contact{
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
}
.contact-wide{
	flex-basis: 100%;
	box-shadow: 0 0 2px blue;
	margin-top: 30px;
}
.contact-wide .linear{
	width: 100% auto;
	height: 50px;
	background: linear-gradient(rgb(5, 4, 46), #fff);
}
.contact-wide .linear a{
	text-decoration: none;
	background: blue;
	color: white;
	width: 70px;
	float: right;
	margin: 10px 15px 0 15px;
	border-radius: 5px;
	font-family: sans-serif;
	padding: 5px 15px 5px 10px;
}
.contact-wide .linear a:hover{
	background: darkblue;
}
.contact-wide .contact-body{
	margin: 20px;
}
.contact-icon-text{
	display: flex;
	margin: 10px;

}
.contact-icon-text img{
	width: 40px;
	height: 40px;
	margin-left: 20px;

}
.contact-icon-text p{
	margin-top: 11px;
	font-size: 1.1rem;
	font-family: sans-serif;
}

@media screen and (max-width: 670px){
	.contact-wide{
		flex-basis: 100%;
	}
	.contact-wide .contact-body{
		margin: 0;
	}
	.contact-icon-text{
		margin: auto;
		margin-top: 10px;
	}
	.contact-icon-text img{
		width: 25px;
		height: 25px;
	}
	.contact-icon-text p{
		font-size: 15px;
		margin-top: -0.5px;
		margin-left: 5px;
	}
}